<!DOCTYPE html>
<html lang="en">

<head>

	<title>Guby Rogers</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >

	<link href="https://fonts.google.com/specimen/Roboto?query=roboto&sidebar.open&selection.family=Roboto:wght@300"
		rel="stylesheet">

	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">

	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/college_partners.css">
	<link rel="stylesheet" href="css/aos.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/testimonial.css">
	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/css/selfstyle.css">
	<link rel="stylesheet" href='css/timeline.css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/testimonials.js"></script>
	<style>
		html,
		body {
			max-width: 100%;
			zoom: 0.85;
			overflow-x: hidden;

		}
	
	.contact{
		padding: 4%;
	    /* height: 400px; */
	}
	.col-md-3{
		background: #ff9b00;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
	</style>
</head>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target"
	id="ftco-navbar">
	<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse"
		data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="oi oi-menu"></span> Menu
	</button>
	<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="ftco-nav">
		<ul class="navbar-nav mr-auto">
			
			<li class="nav-item"><a href="#about-section" class="nav-link"><span>About Us</span></a></li>
			<li class="nav-item"><a href="#speakers-section" class="nav-link"><span>What we offer</span></a></li>
			<li class="nav-item"><a href="#schedule-section" class="nav-link"><span>Why choose us?</span></a></li>
			<li class="nav-item"><a href="#testimonial-section" class="nav-link"><span>Testimonials</span></a></li>
			<li class="nav-item"><a href="#collegeP" class="nav-link"><span>College Partners</span></a></li>
			<li class="nav-item"><a href="#blog-section" class="nav-link"><span>Contact</span></a></li>
			<li class="nav-item cta"><a href="#pricing-section" class="nav-link">Buy Packages</a></li>

		</ul>
	</div>

	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
		<ul class="navbar-nav ml-auto">
			<div class="ml-3 mt-2">
				<li>
					<a href="tel://+919999990000" class="nav-link">
						<span class="icon icon-phone"></span>
						<span class="text">+91 9999990000</span></a>
				</li>
			</div>
			<div class="ml-3">
				<li class="nav-item"><a href="https://www.instagram.com/gubyrogers/" class="nav-link"
						target="_blank"><img src="images/instagram.png" width="50" height="50"></a></li>
			</div>
			<div class="ml-3">
				<li class="nav-item"><a href="mailto:gubyrogers@gmail.com" class="nav-link" target="_blank"><img
							src="images/email.png" width="50" height="50"></a></li>
			</div>
			<div class="ml-3">
				<li class="nav-item"><a href="mailto:gubyrogers@gmail.com" class="nav-link" target="_blank"><img
							src="images/whatsapp.webp" width="50" height="50"></a></li>
			</div>
			<div class="ml-3">
				<li class="nav-item"><a href="#" class="nav-link" target="_blank"><img src="images/linkedin2.png"
							width=50 height=50 alt=""></a></li>
			</div>
		</ul>
	</div>
</nav>


<section class="WelcomeAbout">
	<div class="row">
		<div class="col-lg-8">

		</div>
		<div class="col-lg-4">
			<div class="contact">
				<div class="row">
					<div class="col-md-3">
						<div class="contact-info">
							<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
							<h3>Contact Us</h3>
							
						</div>
					</div>
					<div class="col-md-9">
					<form>
						<div class="contact-form">
							<div class="form-group">
							  <label class="control-label " for="name">Full Name:</label>
							  <div class="col-sm-10">          
								<input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name">
							  </div>
							</div>
							<div class="form-group">
							  <label class="control-label" for="email">Email Address</label>
							  <div class="col-sm-10">          
								<input type="email" class="form-control" id="email" placeholder="Enter Email Address" name="email">
							  </div>
							</div>
							<div class="form-group">
							  <label class="control-label" for="phonenumber">Phone Number</label>
							  <div class="col-sm-10">
								<input type="text" class="form-control" id="phonenumber" placeholder="Enter Phone Number" name="phonenumber">
							  </div>
							</div>
							<div class="form-group">
							  <label class="control-label" for="message">Message:</label>
							  <div class="col-sm-10">
								<textarea class="form-control" rows="5" id="message"></textarea>
							  </div>
							</div>
							<div class="form-group">        
							  <div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default" value="submit">Submit</button>
							  </div>
							</div>
						</div>
					</form>
					</div>
				</div>
			</div>
			

		</div>

	</div>
	<script>
		$("form").on("submit", e => {
		  e.preventDefault();
  
		  const name = $("#name").val().trim();
		  const email = $("#email").val().trim();
		  const phonenumber = $("#phonenumber").val().trim();
		  const message = $("#message").val().trim();
  
		  const data = {
			name,
			email,
			phonenumber,
			message
		  };
		  $.post('/email',data,  function()  {
				console.log('Server recieve our data');

		  });

		});;
	</script>
  
</section>


<!-- <section>
	<div class="container contact">
		<div class="row contact-row">
			<div class="col-md-3">
				<div class="contact-info">
					<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
					<h2>Contact Us</h2>
					<h4>We would love to hear from you !</h4>
				</div>
			</div>
			<div class="col-md-9">
				<div class="contact-form">
					<div class="form-group">
					  <label class="control-label col-sm-2" for="fname">First Name:</label>
					  <div class="col-sm-10">          
						<input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
					  </div>
					</div>
					<div class="form-group">
					  <label class="control-label col-sm-2" for="lname">Last Name:</label>
					  <div class="col-sm-10">          
						<input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
					  </div>
					</div>
					<div class="form-group">
					  <label class="control-label col-sm-2" for="email">Email:</label>
					  <div class="col-sm-10">
						<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
					  </div>
					</div>
					<div class="form-group">
					  <label class="control-label col-sm-2" for="comment">Comment:</label>
					  <div class="col-sm-10">
						<textarea class="form-control" rows="5" id="comment"></textarea>
					  </div>
					</div>
					<div class="form-group">        
					  <div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Submit</button>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section> -->

<section class="ftco-welcome ftco-counter ftco-section " id="about-section">

	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<div '><img src="#" width=550 height=550 alt=""></div>
		</div>

		<div class="col-lg-6 ">

			<div class="row justify-content-center pb-3">
				<div class="col-md-12 heading-section ftco-animate container-aboutus">
					<span class="howwork-subheading" style="font-size: 70px;"><u>Welcome</u></span>
					<br>
					<br>
					<h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Us</h2>
					<p class="about-text">A small river named Duden flows by their place and supplies it with the
						necessary regelialia.<br>It is a paradisematic country, in which roasted parts of sentences fly
						into your mouth.</p>
					<p class="about-text">The copy warned the Little Blind Text, that where it came from it would have
						been rewritten a thousand times and everything that was left from its origin would be the word
						"and" and the Little Blind Text should turn around and return to its own, safe country. But
						nothing the copy said could convince her and so it didn’t take long until a few insidious Copy
						Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency,
						where they abused her for their.</p>
				</div>

			</div>
		</div>

	</div>
</section>


<section id="speakers-section" class="whatOffer">
	<!-- <div class="container"> -->
		<div class="row justify-content-center pb-5">
			<div class="col-md-12 heading-section heading-section-white text-center ftco-animate ">
				<span class="howwork-subheading" style="font-size: 70px;"><u>What we offer</u></span>
				<div class="row WhatOfferContainer justify-content-center">
					<div class="card mb-3 col-lg-3 whatOfferIndividualBox" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4 col-lg-3">
								<img src="images/client_vectors/resume.svg" class="card-img"
									alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h4 class="card-title">Resume Writing</h4>
									<h5 class="card-text">Get your Professional Resume today!</h5>
			
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3 col-lg-3 whatOfferIndividualBox" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4 col-lg-3">
								<img src="images/client_vectors/linkedin-01.svg" class="card-img"
									alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h4 class="card-title">Linkedin Optimization</h4>
									<h5 class="card-text">Get a professional looking linkedin profile today!</h5>
			
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3 col-lg-3 whatOfferIndividualBox" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4 col-lg-3">
								<img src="images/client_vectors/video resume1-01.svg" class="card-img"
									alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h4 class="card-title">Video Resume</h4>
									<h5 class="card-text">Get the perfect scripted and edited video resume!</h5>
			
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3 col-lg-3 whatOfferIndividualBox " style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4 col-lg-3">
								<img src="images/client_vectors/group discussion-01.svg" class="card-img gdTraining" width="126.51" height="126.51"
									alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h4 class="card-title">Group Discussion Training</h4>
									<h5 class="card-text">Learn how to crack your next group discussion</h5>
									
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3 col-lg-3 whatOfferIndividualBox" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4 col-lg-3">
								<img src="images/client_vectors/personal interview training-01.svg" class="card-img"
									alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h4 class="card-title">Personal Interview Training</h4>
									<h5 class="card-text">Stand out in your next interview!</h5>
			
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3 col-lg-3 whatOfferIndividualBox" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4 col-lg-3">
								<img src="images/client_vectors/resume.svg" class="card-img"
									alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h4 class="card-title">Career guidance</h4>
									<h5 class="card-text">Get prepared for various career opportunities</h5>
			
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3 col-lg-3 whatOfferIndividualBox" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4 col-lg-3">
								<img src="images/client_vectors/body language-01.svg" class="card-img"
									alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h4 class="card-title">Body Language training</h4>
									<h5 class="card-text">Let your body language do the talking</h5>
			
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3 col-lg-3 whatOfferIndividualBox" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4 col-lg-3">
								<img src="images/client_vectors/college webinar.svg" class="card-img"
									alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h4 class="card-title">College Webinars</h4>
									<h5 class="card-text">Student mentorship in the form of a webinar!</h5>
			
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3 col-lg-3 whatOfferIndividualBox" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4 col-lg-3">
								<img src="images/client_vectors/college workshop.svg" class="card-img"
									alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h4 class="card-title">College Workshops</h4>
									<h5 class="card-text">Live demonstrations on various career topics</h5>
			
								</div>
							</div>
						</div>
					</div>
					
		
			</div>

			</div>
		 </div>
		 
	

	
</section>




<section class="testmonialsection" id="testimonial-section">

	<h1 class="howwork-subheading" style="font-size: 50px">Testimonials</h1>
	<div class="wrapper">
		<div class="testimonial">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
				  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<div class="item">
						<div class="img">
							<img src="images/client_vectors/customer feedback.svg" alt="">
						</div>
						<div class="name">Mike Kane</div>
						<div class="content">
							<h1><i class="fas fa-quote-left"></i></h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus placeat sint
								distinctio
								corporis debitis neque aliquid quae maiores molestiae qui. Repudiandae itaque beatae
								illum
								labore.</p>

						</div>
					</div>
					<div class="item">
						<div class="img">
							<img src="images/client_vectors/customer feedback.svg" alt="">
						</div>
						<div class="name">Rohit Dubey</div>
						<div class="content">
							<h1><i class="fas fa-quote-left"></i></h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus placeat sint
								distinctio
								corporis debitis neque aliquid quae maiores molestiae qui. Repudiandae itaque beatae
								illum
								labore.</p>

						</div>
					</div>
					<div class="item">
						<div class="img">
							<img src="images/client_vectors/customer feedback.svg" alt="">
						</div>
						<div class="name">Harsh Yadav</div>
						<div class="content">
							<h1><i class="fas fa-quote-left"></i></h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus placeat sint
								distinctio
								corporis debitis neque aliquid quae maiores molestiae qui. Repudiandae itaque beatae
								illum
								labore.</p>

						</div>
					</div>
				  </div>
				  <div class="carousel-item">
					<div class="item">
						<div class="img">
							<img src="images/client_vectors/customer feedback.svg" alt="">
						</div>
						<div class="name">Rohit Sroa</div>
						<div class="content">
							<h1><i class="fas fa-quote-left"></i></h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus placeat sint
								distinctio
								corporis debitis neque aliquid quae maiores molestiae qui. Repudiandae itaque beatae
								illum
								labore.</p>

						</div>
					</div>
					<div class="item">
						<div class="img">
							<img src="images/client_vectors/customer feedback.svg" alt="">
						</div>
						<div class="name">Kartik Behl</div>
						<div class="content">
							<h1><i class="fas fa-quote-left"></i></h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus placeat sint
								distinctio
								corporis debitis neque aliquid quae maiores molestiae qui. Repudiandae itaque beatae
								illum
								labore.</p>

						</div>
					</div>
					<div class="item">
						<div class="img">
							<img src="images/client_vectors/customer feedback.svg" alt="">
						</div>
						<div class="name">Daksh Sethi</div>
						<div class="content">
							<h1><i class="fas fa-quote-left"></i></h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus placeat sint
								distinctio
								corporis debitis neque aliquid quae maiores molestiae qui. Repudiandae itaque beatae
								illum
								labore.</p>

						</div>
					</div>
				  </div>
				  
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>
			</div>
			</div>
</section>


<section class="HowWorks">
	
		<h1 class="howwork-subheading" style="font-size: 70px;">Our Process</h1>
		<div class="containerProcess">
			<table style="align-content: center; width: 100%;" >
				<tr>
					<th><img src = "images/client_vectors/ONE ON ONE CONSULTAION.svg" width="180" height="180"></th>
					<th><img src = "images/client_vectors/selection of service-01.svg" width="180" height="180"></th>
					<th><img src = "images/client_vectors/ORDER AND PAYMENT FORMALITIES.svg" width="180" height="180"></th>
					<th><img src = "images/client_vectors/back end research formalities.svg" width="180" height="180"></th>
					<th><img src = "images/college_partners/TIMELY DELIVERY OF SERVICEee.svg" width="180" height="180"></th>
					<th><img src = "images/client_vectors/customer feedback.svg" width="180" height="180"></th>
					
				</tr>
				<tr>
					<td class="ProcessText">One On One<br> Consultation</td>
					<td class="ProcessText">Selection Of <br>Service</td>
					<td class="ProcessText">Order And Payment <br>Formalities</td>
					<td class="ProcessText">Back End Research<br> And Analysis</td>
					<td class="ProcessText">Timely Delivery <br>Of Service</td>
					<td class="ProcessText">Customer <br>Feedback</td>
				</tr>
			</table>
			
		</div>
	
</section>

<section id="collegeP" class="collegePartners">
	<h1 class="howwork-subheading" style="font-size: 85px;"><u>College Partners</u></h1>
	<br>
	<br>
	<div class="row collegeContent{">
		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/college of vocational studies copy.svg" class="card-img"
						 alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">College Of Vocational Studies</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/pgdav.svg" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">P.G.D.A.V College</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/kalindi college.svg" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">Kalindi College</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/sri aurobindo.svg" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">Sri Aurobindo College</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/shri tegh bahadur.svg" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">S.G.T.B. Khalsa College</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/sri venketshwara (1).svg" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">Sri Venkateswara College</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/gargi college.svg" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">Gargi College</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/maitriya college.svg" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">Maitreyi College</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/janki devi memorial.svg" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">Janki Devi Memorial College</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/ss college of bussiness studies-01.svg" class="card-img"
						alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">Shaheed Sukhdev College of Commerce</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/kirori mal college.svg" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">Kirori Mal College</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/satyawati college.svg" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">Satyavati College</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 col-lg-3 collegeCard" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-3">
					<img src="images/college_partners/deen dayal.svg" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">Deen Dayal Upadhaya College</h3>
						<h5 class="card-text">Delhi University</h5>

					</div>
				</div>
			</div>
		</div>



	</div>
</section>

<section class="pricingSection" id="pricing-section">
	<div class="pricing-box">
		<div class="row justify-content-center pb-5">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<span class="howwork-subheading" style="font-size: 70px;"><u>Our Packages</u></span>

			</div>
		</div>
		<div class="row justify-content-center ">
			<div class="col-md-2 ftco-animate" style="padding: 25px;">
				<div class="pricing-entry pb-5">
					<div>
						<h3 class="mb-4 text-center">Linkedin<br>Makeover</h3>

						<p class="text-center"><span class="price">$59.00</span> <span class="per">/ month</span></p>
					</div>
					<ul>
						<li class="PricingFont"><img src="images/pricing_keywords_enabled.png" height=30 width=30 alt=""> Keywords Enabled
						</li>
						<li class="PricingFont"><img src="images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
							Consultation</li>
						<li class="PricingFont"><img src="images/pricing_international_acceptance.png" width="30" height="30" alt="">
							International Acceptance</li>
						<li class="PricingFont"><img src="images/pricing_SE_Friendly.png" width="30" height="30" alt=""> Search Engine
							Friendly</li>
						<li class="PricingFont"><img src="images/pricing_content_creation.png" width="30" height="30" alt=""> Content
							Creation</li>
						<li class="PricingFont"><img src="images/pricing_unlimited_changes.png" width="30" height="30" alt=""> Unlimited
							Changes</li>
						<li class="PricingFont"><img src="images/pricing_delivery.png" width="30" height="30" alt=""> 5-6 Days Delivery</li>
						

					</ul>
					<a href="#" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
						data-target="#modalLinkedin">Know More</a>
					<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Buy Pack</a></p>
				</div>
			</div>
			<div class="col-md-2 ftco-animate" style="padding: 25px;">
				<div class="pricing-entry pb-5">
					<div>
						<h3 class="mb-4 text-center">Resume<br>Design</h3>

						<p class="text-center"><span class="price  ">$29.00</span> <span class="per">/ month</span></p>
					</div>
					<ul>
						<li class="PricingFont"><img src="images/pricing_keywords_enabled.png" width="30" height="30" alt=""> Keywords
							Enabled</li>
						<li class="PricingFont"><img src="images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
							Consultation</li>
						<li class="PricingFont"><img src="images/pricing_international_acceptance.png" width="30" height="30" alt="">
							International Acceptance</li>
						<li class="PricingFont"><img src="images/pricing_SE_Friendly.png" width="30" height="30" alt=""> Search Engine
							Friendly</li>
						<li class="PricingFont"><img src="images/pricing_multiple_pages.png" width="30" height="30" alt=""> Multiple Pages
						</li>
						<li class="PricingFont"><img src="images/pricing_unlimited_changes.png" width="30" height="30" alt=""> Unlimited
							Changes</li>
						<li class="PricingFont"><img src="images/pricing_ATS_Optimized.png" width="30" height="30" alt=""> ATS Optimized
						</li>
						<li class="PricingFont"><img src="images/pricing_delivery.png" width="30" height="30" alt=""> 2-3 Days Delivery</li>
					</ul>
					<a href="#" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
						data-target="#modalResume">Know More</a>
					<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Buy Pack</a></p>
				</div>
			</div>

			<div class="col-md-2 ftco-animate" style="padding: 25px;">
				<div class="pricing-entry pb-5">
					<div>
						<h3 class="mb-4 text-center">Video<br>Resume</h3>

						<p class="text-center"><span class="price">$89.50</span> <span class="per">/ month</span></p>
					</div>
					<ul>
						<li class="PricingFont"><img src="images/pricing_keywords_enabled.png" width="30" height="30" alt=""> Keywords
							Enabled</li>
						<li class="PricingFont"><img src="images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
							Consultation</li>
						<li class="PricingFont"><img src="images/pricing_international_acceptance.png" width="30" height="30" alt="">
							International Acceptance</li>
						<li class="PricingFont"><img src="images/pricing_SE_Friendly.png" width="30" height="30" alt=""> Search Engine
							Friendly</li>
						<li class="PricingFont"><img src="images/pricing_content_creation.png" width="30" height="30" alt=""> Content
							Writing</li>
						<li class="PricingFont"><img src="images/pricing_video_editing.png" width="30" height="30" alt=""> Video Editing
						</li>
						<li class="PricingFont"><img src="images/pricing_ATS_Optimized.png" width="30" height="30" alt=""> Ats Optimized
						</li>
						<li class="PricingFont"><img src="images/pricing_delivery.png" width="30" height="30" alt=""> 5-7 Days Delivery</li>


					</ul>
					<a href="#" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
						data-target="#modalStudent">Know More</a>
					<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Buy Pack</a></p>
				</div>
			</div>
		

			<div class="col-md-2 ftco-animate" style="padding: 25px;">
				<div class="pricing-entry active pb-5 ">
					<div>
						<h3 class="mb-4 text-center">Interview<br>Training</h3>

						<p class="text-center"><span class="price">$79.00</span> <span class="per">/ month</span></p>
					</div>
					<ul>

						<li class="PricingFont"><img src="images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
							Consultation</li>
						<li class="PricingFont"><img src="images/pricing_personalized_schedule.png" width="30" height="30" alt="">
							Personalized Schedule</li>
						<li class="PricingFont"><img src="images/pricing_resume_design.png" width="30" height="30" alt=""> Resume Design
						</li>
						<li class="PricingFont"><img src="images/linkedin2.png	" width="30" height="30" alt=""> Linkedin Makeover</li>
						<li><img src="images/pricing_online_session.png" width="30" height="30" alt=""> Online Sessions
						</li>
						<li class="PricingFont"><img src="images/pricing_mock_interviews.png" width="30" height="30" alt=""> Mock Interviews
						</li>
						<li class="PricingFont"><img src="images/pricing_QA.png" width="30" height="30" alt=""> Common Questions</li>
						<li class="PricingFont"><img src="images/pricing_body_language.png" width="30" height="30" alt=""> Body Language
							Training</li>
						<li class="PricingFont"><img src="images/pricing_certificate_ofCompletion.png" width="30" height="30" alt="">
							Certificate Of Completion</li>
					</ul>
					<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Buy Pack</a></p>
					<a href="#" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
						data-target="#modalLinkedin">Know More</a>
				</div>
			</div>

			<div class="col-md-2 ftco-animate" style="padding: 25px;">
				<div class="pricing-entry pb-5 ">
					<div>
						<h3 class="mb-4 text-center">Student<br>Mentorship</h3>

						<p class="text-center"><span class="price">$89.50</span> <span class="per">/ month</span></p>
					</div>
					<ul>
						<li class="PricingFont"><img src="images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
							Consultation</li>
						<li class="PricingFont"><img src="images/pricing_personalized_schedule.png" width="30" height="30" alt="">
							Personalized Schedule</li>
						<li class="PricingFont"><img src="images/pricing_resume_design.png" width="30" height="30" alt=""> Resume Design
						</li>
						<li class="PricingFont"><img src="images/linkedin2.png" width="30" height="30" alt=""> Linkedin Makeover</li>
						<li class="PricingFont"><img src="images/Interview_Training.png" width="30" height="30" alt=""> Interview Training
						</li>
						<li class="PricingFont"><img src="images/pricing_career_guidance.png" width="30" height="30" alt=""> Career Guidance
						</li>
						<li class="PricingFont"><img src="images/personality_development.png" width="30" height="30" alt=""> Personality
							Development</li>
						<li class="PricingFont"><img src="images/pricing_confidence_building.png" width="30" height="30" alt=""> Confidence
							Building</li>
						<li class="PricingFont"><img src="images/pricing_certificate_ofCompletion.png" width="30" height="30" alt="">
							Certificate Of Completion</li>
					</ul>
					<a href="#" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
						data-target="#modalStudent">Know More</a>
					<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Buy Pack</a></p>
				</div>
			</div>


			
		</div>
	</div>
	<br><br><br><br><br>

</section>


<section class="ftco-section-FAQ bg-light" id="blog-section">
	<div class="row">
		<div class='col-lg-3 contactUsBox'>

			<div class="row justify-content-center">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<span class="howwork-subheading">Contact Us</span>

					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>

			<div class="col">
				<div class="row-lg-6">
					<form action="#" class="bg-light p-2 p-md-3 contact-form" style="width: 90%;">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Full Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Email">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Contact Number">
						</div>
						<div class="form-group">
							<textarea name="" id="" cols="30" rows="7" class="form-control"
								placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
						</div>
					</form>

				</div>

			</div>

		</div>
		<div class='col-lg-8'>
			<h1 class="heading_self"><u>Frequently Asked Questions</u></h1>
			<div class="accordion" id="accordionExample">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
								aria-expanded="false" aria-controls="collapseOne">
								Q1.Does every job seeker need professional resume-writing services?
							</button>
						</h2>
					</div>

					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
						data-parent="#accordionExample">
						<div class="card-body">
							Professional writers keep in regular touch with the recruitment firms to assess the latest
							advancements in resume writing. They also choose the right keywords to make your resume to
							more likely pass through the Applicant Tracking System (ATS). Needless to say that anyone
							can write their own resume using all the information freely available online; but is it
							worth the risk? We ensure a well-written resume to get optimum results.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Q2.What is the maximum time you require to share the perfect resume?
							</button>
						</h2>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
							The standard TAT for all the services is 6 working days. However, if you avail express
							service, you will receive the first draft in 2 working days and for super-express service, a
							draft is shared in 24 working hours.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingThree">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Q3.Is there any limit to which we can get the corrections / updations done?
							</button>
						</h2>
					</div>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
						data-parent="#accordionExample">
						<div class="card-body">
							Yes, once you receive the 1st draft of the resume, you can get the iterations done for 1
							month including Saturdays and Sundays.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="headingFour">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								Q4.What are the various means to communicate with the writer?
							</button>
						</h2>
					</div>
					<div id="collapseFour" class="collapse" aria-labelledby="headingFour"
						data-parent="#accordionExample">
						<div class="card-body">
							You can contact the writer anytime between 10 to 6 pm (Monday to Saturday) to discuss about
							your service. You can also communicate through mails which will be addressed within 24
							working hours.

						</div>
					</div>
				</div>


				<div class="card">
					<div class="card-header" id="headingFive">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								Q5.Why should I use your services?
							</button>
						</h2>
					</div>
					<div id="collapseFive" class="collapse" aria-labelledby="headingFive"
						data-parent="#accordionExample">
						<div class="card-body">
							We have a team of professional resume writer who have in depth experience of writing
							resume/CV of your domain/Industry. Nowadays keywords plays an important role and we know
							which keywords is perfect for you. Before writing your CV/resume our experts will call you
							and will spend 30 to 90 minutes to understand your requirement and interested field.
							Accordingly they will write the resume.

						</div>
					</div>
				</div>


				<div class="card">
					<div class="card-header" id="headingSix">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								Q6.How many days it will take to get CV/Resume?
							</button>
						</h2>
					</div>
					<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
						<div class="card-body">
							Generally for a quality CV/resume it will take 5 working days. But if you need immediately
							then you have to opt our express service and you will get first draft within 24 hours.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="headingSeven">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								Q7.Can I make my CV/Resume?
							</button>
						</h2>
					</div>
					<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
						data-parent="#accordionExample">
						<div class="card-body">
							Resume/CV needs special attention and in depth research of market. In this digital world
							CV/resume are found with the help of keywords and certain search selection parameter. Our
							team has expertise in this and will use required keywords to end your job search
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="headingEight">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
								Q8.How can I make the payment?
							</button>
						</h2>
					</div>
					<div id="collapseEight" class="collapse" aria-labelledby="headingEight"
						data-parent="#accordionExample">
						<div class="card-body">
							You just need to select the service and proceed for payment after filling up small form. You
							Q.can use credit card/debit card/Net banking for making the payment.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="headingNine">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
								Q9.What is free evaluation?
							</button>
						</h2>
					</div>
					<div id="collapseNine" class="collapse" aria-labelledby="headingNine"
						data-parent="#accordionExample">
						<div class="card-body">
							You can drop your CV/Resume for free evaluation by our experts. Just fill up the form and
							attach your CV/resume and submit. Our resume writer will do an analysis and will get back to
							you.
						</div>
					</div>
				</div>


			</div>
		</div>

	</div>

</section>





<footer class="ftco-footer ftco-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">About MeetUp.</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
						live the blind texts.</p>
					<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
						<li class="ftco-animate"><a href="#" target="_blank"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="https://www.facebook.com/gubyrogers/" target="_blank"><span
									class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="https://www.instagram.com/gubyrogers/" target="_blank"><span
									class="icon-instagram"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4 ml-md-4">
					<h2 class="ftco-heading-2">Links</h2>
					<ul class="list-unstyled">
						<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
						<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
						<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Schedule</a></li>
						<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Speakers</a></li>
						<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Privacy</h2>
					<ul class="list-unstyled">
						<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Career</a></li>
						<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About Us</a></li>
						<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact Us</a></li>
						<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Buy Packages</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Have a Questions?</h2>
					<div class="block-23 mb-3">
						<ul>
							<li><span class="icon icon-map-marker"></span><span class="text">Address</span></li>
							<li><a href="#"><span class="icon icon-phone"></span><span class="text">Number</span></a>
							</li>
							<li><a href="#"><span class="icon icon-envelope"></span><span
										class="text">info@yourdomain.com</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</footer>

<!-- Modal for Resume Design-->
<div class="modal fade" id="modalResume" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Resume Design</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				This part explains more about the plan and why you should buy this.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Buy Now</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<!-- Modal for Linkedin Makeover-->
<div class="modal fade" id="modalLinkedin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">LinkedIn Makeover</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				This part explains more about the plan and why you should buy this.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Buy Now</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for Interview Training-->
<div class="modal fade" id="modalInterview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">interview Training</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				This part explains more about the plan and why you should buy this.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Buy Now</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal for Student Mentorship-->
<div class="modal fade" id="modalStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Student Mentorship</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				This part explains more about the plan and why you should buy this.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Buy Now</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
		<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
		<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
			stroke="#F96D00" /></svg></div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/scrollax.min.js"></script>



<script src="js/main.js"></script>

</body>

</html>